/* TOPBAR */
.topbar {
    background: var(--brand-color);
    color: white;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.topbar-left {
    display: flex;
    gap: 20px;
}

/* BUTTON */
.admission-btn {
    background: linear-gradient(135deg, #ff6b35, #f59e0b);
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    color: white;
    z-index: 999;
    background: var(--primary-color);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.navbar-container {
    max-width: 1400px;
    margin: auto;
    padding: 0 35px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo img {
    height: 58px;
}

/* DESKTOP NAV */

.desktop-nav>ul {
    display: flex;
    list-style: none;
    gap: 28px;
    align-items: center;
}

.dropdown-menu,
.nested-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.dropdown-menu li,
.nested-menu li {
    width: 100%;
}


.desktop-nav li {
    position: relative;
}

.desktop-nav a,
.desktop-nav span {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.desktop-nav a:hover,
.desktop-nav span:hover {
    color: #2563eb;
}

/* DROPDOWN */
.dropdown-menu {
    position: absolute;
    top: 38px;
    left: 0;
    min-width: 230px;
    white-space: nowrap;
    background: white;
    border-radius: 12px;
    padding: 10px 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(12px);
    transition: 0.3s;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu li a {
    display: block;
    padding: 12px 18px;
    color: #334155;
    font-size: 14px;
}

.dropdown-menu li a:hover {
    background: #f8fafc;
}

/* MULTI LEVEL */
.nested-dropdown {
    position: relative;
}

.nested-dropdown>a::after {
    content: ">";
    float: right;
    font-size: 10px;
}

.nested-menu {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 220px;
    background: white;
    border-radius: 12px;
    padding: 10px 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(12px);
    transition: 0.3s;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.nested-dropdown:hover .nested-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/* MOBILE BUTTON */
.menu-btn {
    display: none;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

/* OVERLAY */
.overlay {
    position: fixed;
    inset: 0;
    background: #000000ab;
    z-index: 1000;
}

/* DRAWER */
.mobile-drawer {
    position: fixed;
    top: 0;
    height: 100%;
    right: -425px;
    width: 90%;
    background: #ffffff7a;
    z-index: 1001;
    backdrop-filter: blur(4px);
    transition: 0.35s;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.mobile-drawer.open {
    right: 0;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.drawer-header button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-drawer ul {
    list-style: none;
}

.mobile-drawer li {
    margin-bottom: 18px;
}

.mobile-drawer a {
    text-decoration: none;
    color: #1e293b;
    font-weight: 500;
}

.mobile-drawer {
    display: none;
}

/* MOBILE */
@media (max-width: 991px) {
    .desktop-nav {
        display: none;
    }

    .mobile-drawer {
        display: block;
    }


    .mobile-dropdown span {
        display: block;
        font-weight: 600;
        margin-bottom: 10px;
        color: #0f172a;
    }

    .mobile-submenu {
        padding-left: 14px;
        margin-bottom: 14px;
    }

    .mobile-submenu li {
        margin-bottom: 8px;
    }

    .mobile-nested {
        padding-left: 14px;
        margin-top: 8px;
    }

    .menu-btn {
        display: block;
    }

    .topbar {
        flex-direction: column;
        gap: 8px;
        padding: 12px;
        text-align: center;
    }

    .topbar-left {
        flex-direction: column;
        gap: 5px;
    }

    .mobile-drawer.open {
    right: 30px;
}
}